.ipynb_checkpoints/
data/train/
data/val/
rrc_data/images/test/
rrc_data/images/train/
rrc_data/images/val/
rrc_data/json/cropped_train_v1.json
rrc_data/json/cropped_val_v1.json
rrc_data/zips/cropped_train.tar.gz
rrc_data/zips/test_croppedv2.zip
rrc_data/zips/val.zip
train_dict.pkl
val_dict.pkl
